<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="echarts/echarts.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  </head>
  <body>
    <!--<h1><%= title %></h1>-->
    <p>城市降雨量和蒸发量显示图</p>
    <div id="main" style="height:400px"></div>

    <script type="text/javascript">
      require.config({
        path:{
          echarts:'echarts/echarts.js'
        }
      });

      //构建Echart组件方法
      function initEChartComponent(rainfall,evaporation) {
        // 使用
        require(
                [
                  'echarts',
                  'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                ],
                function (ec) {
                  // 基于准备好的dom，初始化echarts图表
                  var myChart = ec.init(document.getElementById('main'));
                  var option = {
                    title : {
                      text: '某地区蒸发量和降水量',
                      subtext: '纯属虚构'
                    },
                    tooltip : {
                      trigger: 'axis'
                    },
                    legend: {
                      data:['蒸发量','降水量']
                    },
                    toolbox: {
                      show : true,
                      feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                      }
                    },
                    calculable : true,
                    xAxis : [
                      {
                        type : 'category',
                        data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                      }
                    ],
                    yAxis : [
                      {
                        type : 'value'
                      }
                    ],
                    series : [
                      {
                        name:'蒸发量',
                        type:'bar',
                        data:evaporation,
                        markPoint : {
                          data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                          ]
                        },
                        markLine : {
                          data : [
                            {type : 'average', name: '平均值'}
                          ]
                        }
                      },
                      {
                        name:'降水量',
                        type:'bar',
                        data:rainfall,
                        markPoint : {
                          data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                          ]
                        },
                        markLine : {
                          data : [
                            {type : 'average', name : '平均值'}
                          ]
                        }
                      }
                    ]
                  };

                  // 为echarts对象加载数据
                  myChart.setOption(option);
                }
        );
      }

      //ajax请求返回
      function afterAjax(data) {
        if(data){
          var result_data=data.data;

          //01.对获取的数据镜像结构
          if(result_data && Array.isArray(result_data) && result_data.length){
            var rainfall=new Array();
            var evaporation=new Array();
            result_data.forEach(function (item,index,array) {
              if(item.type===1){//type=1表示降雨量
                rainfall=item.data;
              }else {//type=2表示蒸发量
                evaporation=item.data;
              }
            });

            //02.渲染组件
            initEChartComponent(rainfall,evaporation);
          }
          //03.如果数据为空，将组件数据全部渲染为1
          var rainfall=[0,0,0,0,0,0,0,0,0,0,0,0];
          var evaporation=[0,0,0,0,0,0,0,0,0,0,0,0];
          initEChartComponent(rainfall,evaporation);
        }
      }


      //进行ajax请求
      $.ajax({
        type:"GET",
        url:"api/water?city_id=1&year=2017",
        success:function (data) {
          afterAjax(data);
        }
      });

    </script>
  </body>
</html>
